* {
    margin: 0;
    padding: 0;
} 

.body, html{
    width: 100%;
    color: #1F1E1E;
    font-family: "Roboto";
    font-weight: normal;
}   

main {
    margin: 8px auto;
    background-image: url(../images/img-bg.jpg);
    background-size: cover; 
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #445F45;
    width: 97vw;
    max-width: 1200px;
    height: 783px;
}

.container, .footer {
    margin: 0 auto;
    width: 90vw;
    max-width: 1100px;
}

header {
    display: flex;
    justify-content: space-between;
}

.nav a {
    font-size: 10px;
    text-decoration: none;
    color: #FFFFFF;
    padding-right: 17px;
    width: 146px;
    height: 12px;
}

.nav-text {
    display: flex;
    justify-content: flex-start;
    padding-top: 69px;
}

.nav-text-internal h1 {
    width: 410px;
    height: 197px;

    font-size: 63px;
    line-height: 65px;
    font-weight: 400;
    color: #FFFFFF;
    margin-bottom: 50px;
}

.nav-text-internal a {
    display: block;
    width: 200px;
    height: 20px;

    font-size: 9px;
    text-decoration: none;
    color: #FFFFFF;
    padding-top: 15px;

    background-color: #1F1E1E;
    text-align: center;
    border: none;
    text-transform: uppercase;
    border-radius: 5px;
}

.cookie-external {
    display: flex;
    justify-content: flex-end;
    padding-top: 250px;
}

.cookie {
    margin-right: 32px;
}

.cookie h2 {
    font-size: 11px;
    width: 286px;
}

.cookie p {
    font-size: 9px;
    line-height: 13.75px;
    width: 286px;
    padding-top: 18px;

}  

.cookie-links {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    width: 200px;
    height: 10px;
    padding-top: 18px;
}

.cookie-links a {
    font-size: 8px;
    text-decoration: none;
    color: #1F1E1E;
    text-decoration: uppercase;
}
/* медиазапрос начало*/
@media (max-width: 900px) {
    .nav a {
        font-size: 8px;
    }
    .nav-text-internal h1 {
        width: 370px;
        font-size: 50px;
        line-height: 58px;
        margin-bottom: -5px;
    }
    .cookie-external {
        padding-top: 320px;

    }
    .nav-text-internal a {
        width: 165px;
        height: 20px;
        font-size: 7px;
        padding-top: 10px;
    }

}

@media (max-width: 600px) {


    .nav a {
        font-size: 7px;
        padding-right: 14px;
    }

    .nav-text-internal h1 {
        font-size: 44px;
        line-height: 55px;
        margin-bottom: -15px;
    }
    
    .cookie-external {
        padding-top: 335px;
        display: flex;
        justify-content: space-around;
    }
    .nav-text-internal a {
        width: 145px;
        height: 18px;
        font-size: 7px;
        padding-top: 8px;
    }
}

@media (max-width: 400px) {
    .nav a {
        font-size: 6px;
        padding-right: 12px;
    }
    .nav-text-internal h1 {
        font-size: 40px;
        line-height: 47px;
        margin-bottom: -33px;
    }

    .cookie-external {
        padding-top: 360px;
    }

    .nav-text-internal a {
        width: 133px;
        height: 16px;
        font-size: 6px;
        padding-top: 8px;
    }

}
/* медиазапрос конец*/

.catalog {
    margin-top: 60px;
    padding-bottom: 100px;
}

.catalog-start {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 15px;
    align-items: center;
    margin-bottom: 40px;
}

.catalog-start-item {
    display: flex;
    align-items: center;
    width: 170px;
}

.catalog-start-item span {
    font-size: 18px;
    margin-right: 17px;
    font-weight: 400px;
}

.advantages-title {
  font-size: 9px;  
  color: #1F1E1E;
  line-height: 13.75px;

}

.catalog-title {
    font-size: 125px;
    font-weight: 400;
    line-height: 131px;
    margin-bottom: 76px; 
    text-align: center;
}

.catalog-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}


.catalog-item {
    margin-bottom: 37px;
}

.catalog-item img{
    width: 167px;
    height: 167px;
    margin-bottom: 20px;
}

.catalog-item p {
    font-size: 9px;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 9.17px;
    text-align: center;
}

.catalog-button {
    display: block;
    margin: 0 auto;
    width: 139px;
    height: 25px;

    font-size: 9px;
    font-weight: 400;
    text-decoration: none;
    color: #FFFFFF;
    padding-top: 12px;

    background-color: #1F1E1E;
    text-align: center;
    border: none;
    text-transform: uppercase;
    border-radius: 5px;
}


/* медиазапрос начало*/

.catalog-inner {
    justify-content: space-around;
}

@media (max-width: 670px) {
    .catalog-start-item {
        font-size: 8px;
        line-height: 12.75px;
        font-size: 15px;
    }
    .catalog-title {
        font-size: 65px;
        line-height: 96px;
    }

    .catalog {
        padding-bottom: 61px;
    }

    .catalog-button {
        width: 120px;
        height: 21px;

        font-size: 7px;
    }
}

/* конец медиазапрос */

.content-external {
    display: flex;
    justify-content: center;

}

.content {
    width: 681px;
    margin-bottom: 95px;
}
.content p {
    font-size: 9px;
    margin-bottom: 16px;
    text-align: center;
}

.content h3 {
    font-size: 36px;
    text-align: center;
    font-weight: 400;

}


.line {
    display: flex;
    justify-content: flex-start;
    width: 90vw;
    max-width: 1100px;
    height: 1px; /* Толщина линии */
    background-color: rgba(31, 30, 30, 0.1); /* Цвет с прозрачностью 10% */
    margin: 0 auto 40px auto; /* Центрирование (опционально) */
}

.contant-imgs {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 5px;
    width: 100%;
}



.content-text {
    background-color: #F4EDE6;
    border: none;
    border-radius: 6px;
    width: 546px;
    height: 546px;
}

.content-text h4 {
    font-size: 52px;
    color: #425E44;
    width: 439px;
    margin: 170px auto 157px auto;
    text-align: center;
}

.content-text p {
    font-size: 9px;
    color: #425E44;
    text-align: center;
}

/* медиазапрос начало*/

@media (max-width: 1217px) {

    .content-text p {
        padding-bottom: 0px;

    }
}
@media (max-width: 900px) {
    .content p {
        font-size: 8px;
    }
    .content h3 {
        font-size: 30px;
    }

    .content {
        margin-bottom: 66px;
    }
}
    
    @media (max-width: 670px) {
        .content h3 {
            font-size: 23px;
        }
        
        .content-text h4 {
            font-size: 23px;
            width: 300px;
            margin: 100px auto 116px auto
        }

        .content-text p {
            font-size: 6px;
        }

        .contant-imgs img, .content-text { 
            width: 320px;
            height: 320px;
        }
    }


/* конец медиазапрос */


.post-external {
    margin-top: 35px; 
    margin-bottom: 50px;
}

.post h5 {
    font-size: 192px;
    font-weight: 400;
    line-height: 201.25px;
    text-align: center;
    margin-bottom: 39px;

}

.post p {
    font-size: 21px;
    font-weight: 400;
    line-height: 29.17px;
    text-align: center;
    margin-bottom: 39px;
}

.post-button {
    display: block;
    margin: 0 auto;
    width: 139px;
    height: 25px;
    margin-bottom: 50px;

    font-size: 9px;
    font-weight: 400;
    text-decoration: none;
    color: #FFFFFF;
    padding-top: 12px;

    background-color: #1F1E1E;
    text-align: center;
    border: none;
    text-transform: uppercase;
    border-radius: 5px;

}



.post-imgs1 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 5px;
    margin-bottom: 235px;

}

.post-title {
    width: 546px;
    height: 546px;
    background-color: #F4EDE6;
}

.post-title p {
    width: 330px;
    font-size: 46px;
    text-align: center;
    width: 330px;
    height: 200px;
    margin: 125px auto 0 auto;
    
}

.post-imgs-button {
    display: block;
    margin: 0 auto;
    width: 139px;
    height: 25px;
    margin-bottom: 50px;
    margin-top: 40px;

    font-size: 9px;
    font-weight: 400;
    text-decoration: none;
    color: #FFFFFF;
    padding-top: 12px;

    background-color: #1F1E1E;
    text-align: center;
    border: none;
    text-transform: uppercase;
    border-radius: 5px;

}

.post-imgs2 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 5px;
    width: 100%;
}

.post-paletteL1-external {
    display: flex;
}

.post-paletteL1, .post-paletteL2 {
    width: 273px;
    height: 273px;
    position: relative;
}

.circle1, .circle2, .circle3, .circle4 {
    position: absolute;
    width: 150px;
    height: 150px;
    border: none;
    border-radius: 50%;
    
}

.circle1 {
    background-color: #6A727D;
    top: 60px;
    left: 60px;

}
.circle2 {
    background-color: #E0C3B0;
    top: 335px;
    left: 60px;
    
}

.circle3 {
    background-color: #445F45;
    top: 60px;
    left: 60px;
}

.circle4 {
    background-color: #232121;
    top: 335px;
    left: 60px;
}

.post-paletteR {
    width: 546px;
    height: 543px;
    background-color: #C6BC8A;
    border: none;
    border-radius: 8px;
}

.post-palette-title {
    color: #425E44;
    font-size: 52px;
    text-align: center;
    width: 414px;
    margin: 157px  auto 25px auto;
}

.post-palette-link {
    color: #425E44;
    font-size: 20px;
    text-align: center;
    margin-bottom: 163px;
}

.post-palette-linkT {
    color: #425E44;
    font-size: 9px;
    text-align: center;
}

/* медиазапрос начало*/
@media (max-width: 1220px) {
    .post-imgs1 {
        margin-bottom: 80px;
    }
    .post-paletteR {
        margin-top: 272px;
        margin-bottom: 20px;
    }
} 

@media (max-width: 1108px) {
    .line, .line2 {
        display: none;
    }

    .post h5{
        font-size: 126px;
    }
}


@media (max-width: 900px) {

    .post p {
        font-size: 18px;
        line-height: 25.17px;
    }

    .post-button {
        font-size: 8px;
        width: 119px;
        height: 20px;
        padding-top: 10px;
    }
    .post h5 {
        font-size: 110px;
    }
}

@media (max-width: 670px) {

    .post-paletteL1-external {
        width: 320px;
    }
    .post-title, .post-paletteR {
        width: 320px;
        height: 320px;
    }

    .post-title p {
        font-size: 27px;
        width: 187px;
        margin: 85px auto 0 auto;
    }

    .post-imgs-button {
        font-size: 6px;
        width: 106px;
        height: 18px;
        margin-top: -47px;
        padding-top: 10px;
    }


    .post-imgs1 img{
        width: 320px;
        height: 320px;
    }

    .post-paletteL1, .post-paletteL2 {
        width: 200px;
    }

    .post-paletteL1 img, .post-paletteL2 img {
        width: 160px;
    }

    .circle1, .circle2, .circle3, .circle4 {
        width: 78px;
        height: 80px;
    }

    .circle1, .circle3 {
        top: 40px;
        left: 40px;
    }
    .circle2, .circle4 {
        top: 200px;
        left: 40px;
    }

    .post-palette-title {
        font-size: 25px;
        width: 225px;
        margin-top: 96px;
    }
    .post-palette-link {
        font-size: 14px;
        margin-bottom: 100px;
    }
    .post-palette-linkT {
        font-size: 6px;
    }

    .post-paletteR {
        margin-top: 56px;
    }

    .post h5 {
        font-size: 60px;
        margin-bottom: -29px;
    }
    .post p {
        font-size: 14px;
        line-height: 21.17px;
    }
}


/* конец медиазапрос */



/* footer */

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-registration {
    width: 461px;
}

.footer-registration p {
    font-size: 38px;
    width: 306px;
    margin-bottom: 8px;
}

/* кнопка */
.form {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    width: 267px;
    height: 37px;
    margin-bottom: 65px;
}
.input {
    border: none;
    outline: none;
    flex: 1; /* Заполняет доступное пространство */
    padding: 10px;
    font-size: 14px;
    border-radius: 50px 0 0 50px;
}

.submit-button {
    border: none;
    color: black; /* Цвет текста */
    background-color: white;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 0 50px 50px 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* конец кнопки */

.footer-column-bottom {
    font-size: 9px;
}



.footer-column {
    display: flex;
    justify-content: space-between;
}


.footer-item { 
    display: flex; /* Включаем Flexbox */
    flex-direction: column; /* Располагаем элементы вертикально */
    gap: 5px; /* Задаём расстояние между элементами (опционально) */
    margin-right: 60px;
}

.footer-nav, .footer-nav-link {
    text-decoration: none;
    font-size: 9px;
    color: #3C3C3C;
}

.footer-nav {
    margin-bottom: 15px;
}


.line2 {
    width: 1px; /* Длина линии */
    height: 240px; /* Толщина линии */
    margin-left: 205px;
    background-color: rgba(31, 30, 30, 0.1); /* Цвет с прозрачностью 10% */
    margin-bottom: 5px;

}

.footer-bottom {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


/* медиазапрос начало*/
@media (max-width: 1165px) {
    .footer-bottom img{
        width: 90px;
        height: 90px;
        margin-top: 40px;
    }
}

@media (max-width: 879px) {

    .footer-column-bottom {
        margin-bottom: 40px;
    }

    .form {
        margin-bottom: 28px; 
    }

    .footer-column {
        width: 300px;
    }

    .footer-bottom img{
        width: 40px;
        height: 40px;
    }
}

/* конец медиазапрос */

